* {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: white;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-pad.left {
  padding-left: 0;
}

div&.fond-blanc {
  background-color: white;
}

.header {
  padding: 30px 0;
}

.top-fixed {
  border-bottom: 1px solid #ee1d25;
  font-size: 14px;
  color: #ee1d25;
  padding: 9px 0;
}

.top-fixed p {
  margin: 0;
}

.menu-main-container {
  display: inline-block;
}

.menu-main-container #menu-main li {
  margin-right: 30px;
}

.menu-main-container #menu-main li:last-child {
  margin-right: 0;
}

.menu-main-container #menu-main li.menu-item-has-children {
  margin-right: 45px;
}

.menu-main-container ul {
  margin-bottom: 0;
}

.menu-main-container ul li {
  display: inline-block;
}

.menu-main-container ul li.menu-item-has-children {
  position: relative;
}

.menu-main-container ul li.menu-item-has-children.fleche-after:after {
  content: url(../images/arrow-down.png);
  position: absolute;
  padding-left: 7px;
  top: 45%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-main-container ul li.menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-main-container ul li .sub-menu {
  display: none;
  position: absolute;
  left: -15px;
  top: 100%;
  width: 300px;
  text-align: left;
  background-color: white;
  padding: 15px;
  z-index: 999;
}

.menu-main-container ul li .sub-menu:hover {
  display: block;
}

.menu-main-container ul li .sub-menu li {
  margin-bottom: 15px;
}

.menu-main-container ul li .sub-menu li:last-child {
  margin-bottom: 0;
}

.menu-main-container ul li a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

#caller {
  position: relative;
  background-color: #ee1d25;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#caller i {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#caller:hover {
  border-radius: 20%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#caller #listeHeader-caller {
  position: absolute;
  background-color: #ee1d25;
  z-index: 9999;
  border-radius: 2%;
  right: 0px;
  max-width: 380px;
  top: 30px;
  padding: 34px 19px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#caller #listeHeader-caller p, #caller #listeHeader-caller a {
  color: white;
  text-align: left;
}

#caller #listeHeader-caller .number a {
  padding-left: 27px;
}

#caller:hover #listeHeader-caller {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#front {
  overflow: hidden;
}

#front .gauche-front {
  padding-top: 103px;
  padding-bottom: 107px;
}

#front .gauche-front .titre-gauche-front {
  font-weight: bold;
  font-size: 38px;
}

#front .gauche-front .sous-titre-gauche-front {
  font-weight: bold;
  font-size: 22px;
}

#front .gauche-front .icons-gauche-front {
  overflow: hidden;
  margin-top: 50px;
}

#front .gauche-front .icons-gauche-front a {
  float: left;
  display: block;
}

#front .gauche-front .icons-gauche-front a img, #front .gauche-front .icons-gauche-front a p {
  display: inline-block;
}

#front .gauche-front .icons-gauche-front a img {
  margin-right: 15px;
}

#front .gauche-front .icons-gauche-front a p {
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

#front .gauche-front .icons-gauche-front a:first-child {
  margin-right: 75px;
}

#front .droite-front img {
  position: absolute;
  bottom: -2px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#front .droite-front img.hide {
  visibility: hidden;
  bottom: -100%;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#front.red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee1d25+0,af060d+100 */
  background: #ee1d25;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ee1d25 0%, #af060d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ee1d25 0%, #af060d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ee1d25 0%, #af060d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='#af060d',GradientType=0 );
  /* IE6-9 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$red+0,af060d+100 */
  background: #ee1d25;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ee1d25 0%, #af060d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ee1d25 0%, #af060d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ee1d25 0%, #af060d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee1d25', endColorstr='#af060d',GradientType=0 );
  /* IE6-9 */
}

#front.red .gauche-front .titre-gauche-front {
  color: white;
}

#front.red .gauche-front .sous-titre-gauche-front {
  color: black;
}

.conteneur-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.conteneur-content h2, .conteneur-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.conteneur-content h3 {
  font-size: 22px;
}

.conteneur-content a {
  color: #ee1d25;
}

.conteneur-content p, .conteneur-content a {
  font-size: 16px;
}

.conteneur-content .bouton {
  margin-top: 10px;
  display: inline-block;
  color: white;
  background-color: #ee1d25;
  padding: 16px 20px;
}

.contenuPlus {
  margin-top: 80px;
}

.contenuPlus img {
  width: 100%;
}

.contenuPlus .conteneur-content {
  padding-bottom: 0;
}

/* Sidebar */
aside {
  background-color: #f2f2f2;
}

aside .top {
  background-color: #3383bf;
  width: 100%;
  display: block;
  text-align: center;
  padding: 9px 21px;
}

aside .top a {
  color: white;
  font-weight: bold;
  font-size: 26px;
}

aside img {
  display: block;
  margin: 28px auto;
}

aside .bottom {
  padding: 0 30px 30px;
}

aside .bottom .barre {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.15;
  margin-bottom: 35px;
}

aside .bottom .in-bottom {
  overflow: hidden;
  margin: 0;
}

aside .bottom .in-bottom img {
  margin: 0 auto;
}

aside .bottom .in-bottom .right-in-bottom {
  margin-left: 20px;
}

aside .bottom .in-bottom .right-in-bottom p {
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

aside .bottom .in-bottom .right-in-bottom p strong {
  font-weight: bold;
}

aside .bottom .in-bottom .right-in-bottom span {
  background-color: #3383bf;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 7px;
  width: 100%;
  display: block;
  text-align: center;
}

aside .bottom .in-bottom .right-in-bottom .bot-bottom {
  font-size: 18px;
}

/* Inner Page */
.inner-page {
  color: black;
}

.inner-page h1 {
  font-size: 22px;
  margin-bottom: 24px;
}

.inner-page h2, .inner-page h3 {
  font-size: 18px;
  margin-bottom: 24px;
}

.inner-page del a {
  margin-top: 10px;
  display: inline-block;
  color: white;
  background-color: #ee1d25;
  padding: 16px 20px;
}

/* Footer */
.conteneurListePhone {
  background-color: #ee1d25;
  padding: 60px 0;
}

.conteneurListePhone .middle {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.conteneurListePhone p, .conteneurListePhone a {
  color: white;
}

.conteneurListePhone .padding-more {
  padding-left: 50px;
}

.conteneurListePhone h3 {
  margin-bottom: 57px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

footer {
  background-color: #f2f2f2;
  padding: 80px 0;
}

footer .colonne ul {
  list-style: none;
}

footer .colonne ul li {
  margin-bottom: 15px;
}

footer .colonne ul li a {
  color: black;
}

footer .colonne.bold ul li a {
  font-weight: bold;
}

footer .colonne img {
  margin-top: 15px;
}

footer .colonne.padding-more {
  padding-left: 35px;
}

footer .colonne .boxed {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  display: block;
  border: 1px solid #cecece;
  margin-bottom: 9px;
  background-color: white;
}

footer .colonne .boxed .wpcf7-form-control-wrap {
  max-width: 100%;
}

footer .colonne .boxed .wpcf7-form-control-wrap input {
  border: 0;
  width: 100%;
  height: 45px;
  padding-left: 11px;
}

footer .colonne .boxed .wpcf7-form-control-wrap input:focus, footer .colonne .boxed .wpcf7-form-control-wrap textarea:focus {
  outline: none;
}

footer .colonne .boxed input::-webkit-input-placeholder, footer .colonne .boxed textarea::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
}

footer .colonne .boxed input:-moz-placeholder, footer .colonne .boxed textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
}

footer .colonne .boxed input::-moz-placeholder, footer .colonne .boxed textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
}

footer .colonne .boxed textarea {
  width: 100%;
  border: 0;
  height: 97px;
  padding: 11px;
}

footer .colonne .boxed.message {
  background-color: white;
}

footer .colonne .conteneur-btn-submit {
  text-align: right;
}

footer .colonne .conteneur-btn-submit #Btn-submit-footer {
  background-color: #ee1d25;
  border: 0;
  padding: 16px 38px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

footer .colonne .conteneur-btn-submit .ajax-loader {
  margin: 0;
  display: none;
}

#credit {
  background-color: #ee1d25;
  padding: 15px;
  color: white;
}

#credit p {
  color: white;
  margin-bottom: 0;
  font-size: 14px;
}

#credit a {
  color: white;
  font-size: 14px;
}
