$font-petite : 14px;
$font-texte : 16px;
$titre_tertiaire: 18px;
$titre_secondaire : 22px;
$titre_primaire : 38px;


body{
  background-color: white;
}
.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.no-pad.left{
  padding-left: 0;
}


div{
    &&.fond-blanc{
      background-color: white;
    }
}

.header{
  padding: 30px 0;
}

.top-fixed{
  border-bottom: 1px solid $red;
  font-size: $font-petite;
  color: $red;
  padding: 9px 0;

    p{
      margin: 0;
    }
}


.menu-main-container{
  display: inline-block;

  #menu-main{

    li{
      margin-right: 30px;

      &:last-child{
        margin-right: 0;
      }

      &.menu-item-has-children{
        margin-right: 45px;
      }
    }
  }

  ul{
    margin-bottom: 0;
    li{
      display: inline-block;

      &.menu-item-has-children{
        position: relative;

        &.fleche-after:after{
          content: url(../images/arrow-down.png);
          position: absolute;
          padding-left: 7px;
          top: 45%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      &.menu-item-has-children:hover{
        .sub-menu{
          display: block;
        }
      }

      .sub-menu{
        display: none;
        position: absolute;
        left: -15px;
        top: 100%;
        width: 300px;
        text-align: left;
        background-color: white;
        padding: 15px;
        z-index: 999;

        &:hover{
          display: block;
        }
        li{
          margin-bottom: 15px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      a{
        color: black;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

#caller{
  position: relative;
  background-color: $red;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

    i{
      font-size: 20px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%,-50%,0);
      transform: translate3d(-50%,-50%,0);

    }

    &:hover{
      border-radius: 20%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    #listeHeader-caller{
      position: absolute;
      background-color: $red;
      z-index: 9999;
      border-radius: 2%;
      right: 0px;
      max-width: 380px;
      top: 30px;
      padding: 34px 19px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
      p,a{
        color: white;
        text-align: left;
      }

      .number{
        a{
            padding-left: 27px;
        }
      }
    }

    &:hover{
      #listeHeader-caller{
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }
    }
}

//Front page

#front{
  overflow: hidden;

  .gauche-front{
    padding-top: 103px;
    padding-bottom: 107px;

    .titre-gauche-front{
      font-weight: bold;
      font-size: $titre_primaire;
    }

    .sous-titre-gauche-front{
      font-weight: bold;
      font-size: $titre_secondaire;
    }

    .icons-gauche-front{
      overflow: hidden;
      margin-top: 50px;

      a{
        float: left;
        display: block;

        img,p{
          display: inline-block;
        }

        img{
          margin-right: 15px;
        }

        p{
          color: black;
          font-size: 26px;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:first-child{
          margin-right: 75px;
        }
      }
    }
  }
  .droite-front{
    img{
      position: absolute;
      bottom: -2px;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;

      &.hide{
        visibility: hidden;
        bottom: -100%;
        opacity: 0;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
      }
    }
  }
  &.red{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee1d25+0,af060d+100 */
    background: #ee1d25; /* Old browsers */
    background: -moz-linear-gradient(top,  $red 0%, #af060d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $red 0%,#af060d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $red 0%,#af060d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='#af060d',GradientType=0 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$red+0,af060d+100 */
    background: $red; /* Old browsers */
    background: -moz-linear-gradient(top,  $red 0%, #af060d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $red 0%,#af060d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $red 0%,#af060d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee1d25', endColorstr='#af060d',GradientType=0 ); /* IE6-9 */

    .gauche-front{
      .titre-gauche-front{
        color: white;
      }
      .sous-titre-gauche-front{
        color: black;
      }
    }
  }
}

.conteneur-content{
  padding-top: 80px;
  padding-bottom: 80px;
  h2,h3{
    font-size: $titre_secondaire;
    font-weight: bold;
    margin-bottom: 25px;
  }

  h3{
    font-size: $titre_secondaire;
  }

  a{
    color: $red;
  }
  p,a{
    font-size: $font-texte;
  }

  .bouton{
    margin-top: 10px;
    display: inline-block;
    color: white;
    background-color: $red;
    padding: 16px 20px;
  }
}

.contenuPlus{
  margin-top: 80px;
  img{
    width: 100%;
  }
  .conteneur-content{
    padding-bottom: 0;
  }
}

/* Sidebar */

aside{
  background-color: $grey;

  .top{
    background-color: $blue;
    width: 100%;
    display: block;
    text-align: center;
    padding: 9px 21px;

    a{
      color: white;
      font-weight: bold;
      font-size: 26px;
    }
  }
  img{
    display: block;
    margin: 28px auto;
  }
  .bottom{
    padding: 0 30px 30px;

    .barre{
      display: block;
      width: 100%;
      height: 1px;
      background-color: black;
      opacity: 0.15;
      margin-bottom: 35px;
    }
    .in-bottom{
      overflow: hidden;
      margin: 0;

      img{
        margin: 0 auto;
      }

      .right-in-bottom{
        margin-left: 20px;
        p{
          margin-bottom: 0;
          font-weight: 200;
          text-align: center;
          font-size: 22px;
          text-transform: uppercase;

          strong{
            font-weight: bold;
          }
        }
        span{
          background-color: $blue;
          color: white;
          font-size: 16px;
          font-weight: bold;
          padding: 6px 7px;
          width: 100%;
          display: block;
          text-align: center;
        }
        .bot-bottom{
          font-size: 18px;
        }
      }
    }
  }
}


/* Inner Page */
.inner-page{
  color: black;

  h1{
    font-size: $titre_secondaire;
    margin-bottom: 24px;
  }

  h2,h3{
    font-size: $titre_tertiaire;
    margin-bottom: 24px;
  }

  del{
    a{
      margin-top: 10px;
      display: inline-block;
      color: white;
      background-color: $red;
      padding: 16px 20px;
    }
  }
}


/* Footer */

.conteneurListePhone{
  background-color: $red;
  padding: 60px 0;

  .middle{
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  p,a{
    color: white;
  }

  .padding-more{
    padding-left: 50px;
  }

  h3{
    margin-bottom: 57px;
    text-align: center;
    font-weight: bold;
    font-size: $titre_secondaire;
    color: white;
  }
}

footer{
  background-color: $grey;
  padding: 80px 0;

  .colonne{
    ul{
      list-style: none;

      li{
        margin-bottom: 15px;
        a{
          color: black;
        }
      }
    }

    &.bold{
      ul{
        li{
          a{
              font-weight: bold;
          }
        }
      }
    }
    img{
      margin-top: 15px;
    }

    &.padding-more{
      padding-left: 35px;
    }

    .boxed{
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
      display: block;
      border: 1px solid $grey-dark;
      margin-bottom: 9px;
      background-color: white;

      .wpcf7-form-control-wrap{
        max-width: 100%;

        input{
          border: 0;
          width: 100%;
          height: 45px;
          padding-left: 11px;
        }

        input:focus,textarea:focus{
          outline: none;
        }
      }

      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
         color: black;
         font-weight: bold;
         opacity: 1;
         font-size: 16px;
      }

      input:-moz-placeholder , textarea:-moz-placeholder { /* Firefox 18- */
         color: black;
         font-weight: bold;
         opacity: 1;
         font-size: 16px;
      }

      input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
         color: black;
         font-weight: bold;
         opacity: 1;
         font-size: 16px;
      }

      textarea{
        width: 100%;
        border: 0;
        height: 97px;
        padding: 11px;
      }

      &.message{
        background-color: white;
      }
    }

    .conteneur-btn-submit{
      text-align: right;

      #Btn-submit-footer{
        background-color: $red;
        border: 0;
        padding: 16px 38px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: $font-petite;
      }

      .ajax-loader{
        margin: 0;
        display: none;
      }
    }
  }
}

#credit{
  background-color: $red;
  padding: 15px;
  color: white;

  p{
    color: white;
    margin-bottom: 0;
    font-size: $font-petite;
  }
  a{
    color: white;
    font-size: $font-petite;
  }
}
